ion-badge {
    --padding-top: 0px;
}

ion-toolbar {
    display    : flex;
    align-items: center;
}

.center {
    display    : flex;
    align-items: center;
}

.title{
    cursor: pointer;
    color: #fff;
}