.badge {
    position        : absolute;
    top             : 0px;
    right           : 0px;
    border-radius   : 25px;
    background-color: #428cff;
    color           : white;
    display         : block;
    padding         : 1px 9px;
}

ion-card {
    cursor: pointer;
}

.indicator {
    text-align: center;
    font-size : 3em;
    color     : #428cff;
}

.title {
    color     : #428cff;
    text-align: center;
}

.indicatorSelected {
    border: 1px solid #428cff;
}

.title-section {
    font-size: 1.4em;
    margin: 15px 0px;
}