<ion-tabs>

  <ion-tab-bar slot="bottom" *ngIf="isMobile">
    <ion-tab-button *ngIf="router.url !== '/app/home'" (click)="onPreview()">
      <ion-icon name="caret-back-outline"></ion-icon>
      <ion-label>Anterior</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="home">
      <ion-icon name="square-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="user">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Usuarios</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>