<app-header titulo="Nuevo Solicitud" [backButton]="true"></app-header>
<ion-content class="ion-padding">
  <ion-card>

    <form [formGroup]="newTask" *ngIf="!loading">
      <ion-grid>
        <ion-row>
          <ion-col size-xs="12" size-md="6" size-lg="4" size-xl="8" offset-xl="2">
            <b>Nueva Solicitud</b>
          </ion-col>
          <ion-col size-xs="12" size-md="6" size-lg="4" size-xl="8" offset-xl="2">
            <ion-item>
              <ion-label position="floating">Descripcion:</ion-label>
              <ion-input required formControlName="description"></ion-input>
            </ion-item>
            <div class="error-container">
              <ng-container *ngFor="let validation of validation_messages.description">
                <div class="error-message"
                  *ngIf="newTask.get('description').hasError(validation.type) && (newTask.get('description').dirty || newTask.get('description').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <span>{{ validation.message }}</span>
                </div>
              </ng-container>
            </div>
          </ion-col>
          <ion-col size-xs="12" size-md="6" size-lg="4" size-xl="8" offset-xl="2">
            <ion-item>
              <ion-label>Categoria</ion-label>
              <ion-select formControlName="category" placeholder="Seleccione una Categoria">
                <ion-select-option value="">Seleccione...</ion-select-option>
                <ion-select-option *ngFor="let category of listCategory" [value]="category._id">{{category.description |
                  titlecase}}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <div class="error-container">
              <ng-container *ngFor="let validation of validation_messages.category">
                <div class="error-message"
                  *ngIf="newTask.get('category').hasError(validation.type) && (newTask.get('category').dirty || newTask.get('category').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <span>{{ validation.message }}</span>
                </div>
              </ng-container>
            </div>
          </ion-col>
          <ion-col size-xs="12" size-md="6" size-lg="4" size-xl="8" offset-xl="2">
            <ion-item>
              <ion-label>Cliente</ion-label>
              <ion-select formControlName="client" placeholder="Seleccione un cliente">
                <ion-select-option value="">Seleccione...</ion-select-option>
                <ion-select-option *ngFor="let client of listClient" [value]="client._id">{{client.name |
                  titlecase}}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <div class="error-container">
              <ng-container *ngFor="let validation of validation_messages.client">
                <div class="error-message"
                  *ngIf="newTask.get('client').hasError(validation.type) && (newTask.get('client').dirty || newTask.get('client').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <span>{{ validation.message }}</span>
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-button [disabled]="!newTask.valid" (click)="onSubmit()" expand="block" fill="clear" shape="round">
              Guardar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card>
</ion-content>